*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /*si on utilise un plugin ou un component ou on change le border box "inherit" will inherit ce qui y'a dans box-sizing  */
}

html {
  // this define what 1 rem is
  font-size: 62.5%;

  @include respond(tab-land) {
    //1200px
    font-size: 56.25%;
    // 1rem = 9px , 9 / 16(default font size) =0.5625 = 56.25%
  }

  @include respond(tab-port) {
    //900px
    font-size: 50%;
    //// 1rem = 8px , 8 / 16(default font size) =0.5 = 50%
  }

  @include respond(phone) {
    //600px
    font-size: 30%;
  }

  @include respond(big-desktop) {
    /// ... > 1800px
    font-size: 75%;
    // 1rem = 12px , 12 / 16(default font size) =0.75 = 75%
  }
}

body {
  // background-color: #888;
  box-sizing: border-box;
  padding: 3rem;

  // @include respond(tab-land) {
  //   width: 100%;
  //   padding: 3rem;
  //   box-sizing: border-box;
  // }

  @include respond(tab-port) {
    padding: 0rem;
  }
}

::selection {
  background-color: #55c57a;
  color: #ffffff;
}
