.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.799),
      rgba($color-primary-dark, 0.799)
    ),
    url(../img/nat-4.jpg);

  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  margin-top: -10rem;
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;

  margin-top: -10rem;
}

.section-stories {
  padding: 15rem 0rem;
  position: relative;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.booking {
  background-image: linear-gradient(
      105deg,
      rgba(#fff, 0.9) 0%,
      rgba(#fff, 0.9) 50%,
      transparent 50%
    ),
    //VIDEO45, minute 10:46
    url(../img/nat-10.jpg);
  background-size: 100%; //or "cover" the same thing
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(#000000, 0.15);

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
